default menu.c32
timeout 0

label ask
    kernel  /boot/vmlinuz
    append  vga=ask
# root=LABEL=iso

label normal
    kernel  /boot/vmlinuz
    append  vga=normal

label 640x480x24
    kernel  /boot/vmlinuz
    append  vga=0x312

label 800x600x24
    kernel  /boot/vmlinuz
    append  vga=0x315
